Source: libgtextutils
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Charles Plessy <plessy@debian.org>
Section: science
Priority: optional
Build-Depends: autotools-dev,
               debhelper (>= 9),
               dh-exec,
               libtool
Standards-Version: 3.9.5
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=debian-med/libgtextutils.git
Vcs-Git: git://anonscm.debian.org/debian-med/libgtextutils.git -b debian/unstable
Homepage: http://hannonlab.cshl.edu/fastx_toolkit/

Package: libgtextutils-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: libgtextutils0 (= ${binary:Version}),
         ${misc:Depends}
Description: Gordon Text_utils library (development files)
 Development files for the Gordon Text_utils (gtextutils) library.

Package: libgtextutils0
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Gordon Text_utils library
 The Gordon Text_utils (gtextutils) library is a text utilities library used by
 the FASTX-Toolkit, a suite of programs for biological sequence analysis. 
